header {
  background-color: #f6b49e;
  padding: 10px;
}

body {
  background-color: #f6b49e;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;
  font-size: large;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: black;
}

main {
  padding: 20px;
}

.contact-info {
  background-color: lightgray;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.resume {
  background-color: lightgray;
  padding: 20px;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}
