header {
  background-color: #b884cc;
  padding: 10px;
}

body {
  background-color: #b884cc;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;
  font-size: large;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: black;
}

main {
  padding: 20px;
}

.home-content {
  display: flex;
}

.home-image {
  width: 600px;
  margin-right: 20px;
  display: flex;
}

.home-image img {
  height: 600px;
  width: 600px;
}

.home-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-description h2 {
  margin-bottom: 20px;
}
